<div id="container" class="d-flex">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-2 link-dark text-decoration-none border-bottom">
            <span class="material-symbols-outlined" style="font-size: 35px; color: rgb(0, 177, 221)"> view_list</span>
            <span class="fs-5 fw-semibold">&nbsp; List group</span>
        </a>
        <div class="list-group list-group-flush scrollarea">
            <div *ngFor="let catalogue of cataloguesContainIdAndTitle" class="left">
                <button (click)="getCatalogueById(catalogue.id)" class="list-group-item list-group-item-action"
                    style="padding: 12px; border: none;">
                    <div class="w-100 d-flex align-items-center justify-content-between"
                        style="justify-content: start!important;;">
                        <span class="material-symbols-outlined" style="color: rgb(0, 221, 99)">arrow_forward</span>
                        <strong> &nbsp; {{catalogue.title}}</strong>
                    </div>
                </button>
            </div>
            <button type="button" class="btn btn-success" style="width: 40%; margin-left: auto; margin-right: auto; margin-top: 10px; display: block;">Add</button>
        </div>
    </div>
    <div class="right">
        <div *ngIf="isAdmin" class="content">
            <ckeditor [editor]="Editor" [(ngModel)]="htmlContent"></ckeditor>
        </div>
        <div *ngIf="!isAdmin" class="content">
            <div [innerHTML]="htmlContent"></div>
        </div>
    </div>
    <div style="margin: 55px;" >
        <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/337265068_180039621468056_2460111740808674904_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=3635dc&_nc_ohc=NMcbUzGLH_wAX9Dsowo&_nc_ht=scontent.fhan2-4.fna&oh=00_AfD5W1tN85sFkSsoDryoeqoDTCKLM0XeknTU75ai99rTtA&oe=657A8B1A" alt="" srcset="" style="width: 500px; border-radius: 20px; box-shadow: 10px 10px 10px rgba(5, 84, 187, 0.5)" >
    </div>
</div>
