<nav class="navbar navbar-expand-lg navbar-light bg-navbar-theme">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/home.png" style="width: 150px; margin-left: 17px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" action="javascript:void(0)">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div *ngIf="!getAccessToken">
          <button class="btn btn-default" (click)="login()">
            Login
          </button>
        </div>
  
        <div *ngIf="getAccessToken">
          <button class="btn btn-default" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>