<section class="wrapper">
  <div class="container">
    <div class="" style="max-width: 1500px; margin: 10% 10% 7% 5%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/Designer__1_-removebg.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="margin: 5% 10% 10% 5%;">
            <h5 class="card-title">Xin chào !! 😊😊</h5>
            <p class="card-text">Hải đây, blog này để tổng hợp và tìm hiểu kĩ các kiến thức mà mình học được, như Spring
              Framework, Java core, Angular, Microservice, Oauth2, Keycloak...</p>
            <p class="card-text"> Đồng thời cũng là một trang web dc build giúp nâng cao trình độ fullstack để kiếm
              lương cao. <b>Cố lên !! ✌️✌️ </b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let topic of topics; let i=index">
        <div class="card card-has-bg click-col"          >
          <a class="card d-flex flex-column" id="description"
          [routerLink]="['/topic', topic.id, 'technologies']" style="background-color: rgb(255, 255, 255);">        
            <div class="card-body" style="padding: 8% 6% 6% 8% ;">
              <h3 class="mb-2 text-dark" style="height: 100px; border-radius: 10px; text-align: center;"><strong>{{topic.name}}</strong></h3>
              <h6 class="mt-0" style="padding-top: 5%;">{{topic.description}}</h6>              
            </div>
            <div class="card-footer">
              <div class="media" style="padding-left: 4%; padding-bottom: 6%;">
                <div class="media-body">
                  <h6 class="my-0 text-dark d-block">Oz Coruhlu</h6>
                </div>
                <small><i class="far fa-clock"></i>Last update: {{topic.lastModifiedDate}}</small>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div *ngIf="isAdmin" class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a class="card card-has-bg" [routerLink]="['/add-topic']"
          style="box-shadow: none; background: none; display: flex; align-items: center; justify-content: center;">
          <img src="assets/5974633.png" alt="add new topic" width="300px">
        </a>
      </div>

    </div>
  </div>
</section>

<!-- <button (click)="goToTechnolygy()">go to technology</button> -->