<div style="width: 30%; margin: 0 auto;">
    <form action="" method="post" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="topicName" class="form-label"> <strong> Topic name: </strong></label>
            <input [(ngModel)]="topic.name" name="name" class="form-control" id="topicName" placeholder="Ex: Spring boot">
        </div>
        <div class="mb-3">
            <label for="topicDescription" class="form-label"> <strong> Topic description: </strong></label>
            <textarea [(ngModel)]="topic.description" class="form-control" id="topicDescription" name="topic" rows="3"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>