<div style="width: 30%; margin: 0 auto;">
    <form action="" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> <strong> Topic name: </strong></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Spring boot">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> <strong> Topic description: </strong></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>